# Telegram Bot
aiogram==3.7.0

# Web control
fastapi==0.108.0
uvicorn[standard]==0.23.2

# Database
aiosqlite==0.19.0
aiofiles~=23.2.1

# Utilities
itsdangerous==2.1.2
pytz==2025.2
python-multipart==0.0.6  # ضروري لتحميل ملفات من الويب
Jinja2==3.1.2            # لتوليد صفحات HTML
